/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.output}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

	withName: '.*:PREPARE_GENOME:PREP_REF' {
		publishDir = [
			path: { "${params.output}/genome" },
			mode: params.publish_dir_mode,
			saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
			enabled: params.save_genome
		]
	}

	withName: '.*:PREPARE_GENOME:BOWTIE2_BUILD' {
		ext.args = '--seed 1'
		publishDir = [
			path: { "${params.output}/genome" },
			mode: params.publish_dir_mode,
			saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
			enabled: params.save_genome
		]
	}

    withName: '.*:SELECT_REFERENCE:BBMAP_ALIGN' {
		ext.args = "local=true maxindel=80"
        publishDir = [
            path: { "${params.output}/select_reference" },
            mode: params.publish_dir_mode,
            pattern: "*.{tsv,log}"
        ]
    }

    withName: '.*:FASTQ_ALIGN_BOWTIE2:BOWTIE2_ALIGN' {
        ext.args = '--local --very-sensitive-local --seed 1'
        ext.args2 = '-F4 -bhS'
    }

    withName: '.*:FASTQ_ALIGN_BOWTIE2:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}.sorted" }
        publishDir = [
            path: { "${params.output}/bowtie2" },
            mode: params.publish_dir_mode,
            pattern: "*.sorted.bam"
        ]
    }

    withName: '.*:FASTQ_ALIGN_BOWTIE2:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:.*' {
        ext.prefix = { "${meta.id}.sorted.bam" }
        publishDir = [
            path: { "${params.output}/bowtie2/samtools_stats" },
            mode: params.publish_dir_mode,
            pattern: "*.{stats,flagstat,idxstats}"
        ]
    }

    withName: IVAR_TRIM {
        ext.args = [
            '-m 30 -q 20',
            params.ivar_trim_noprimer ? '' : '-e',
            params.ivar_trim_offset   ? "-x ${params.ivar_trim_offset}" : ''
            ].join(' ').trim()
        ext.prefix = { "${meta.id}.ivar_trim" }
        publishDir = [
            path: { "${params.output}/ivar/trim/log" },
            mode: params.publish_dir_mode,
            pattern: '*.log'
        ]
    }

    withName: '.*:IVAR_PRIMER_TRIM:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}.ivar_trim.sorted" }
        publishDir = [
            path: { "${params.output}/ivar/trim" },
            mode: params.publish_dir_mode,
            pattern: "*.bam"
        ] 
    }

	withName: '.*:IVAR_PRIMER_TRIM:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_INDEX' {
		publishDir = [
			path: { "${params.output}/ivar/trim" },
			mode: params.publish_dir_mode,
			pattern: "*.bai"
		]
	}

	withName: '.*:IVAR_PRIMER_TRIM:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:.*' {
        ext.prefix = { "${meta.id}.ivar_trim.sorted.bam" }
        publishDir = [ 
            path: { "${params.output}/ivar/trim/samtools_stats" },
            mode: params.publish_dir_mode,
            pattern: "*.{stats,flagstat,idxstats}"
        ]   
    } 

    withName: BCFTOOLS_MPILEUP {
        ext.args = '--count-orphans --no-BAQ --max-depth 50000 --max-idepth 500000 --annotate FORMAT/AD,FORMAT/ADF,FORMAT/ADR,FORMAT/DP,FORMAT/SP,INFO/AD,INFO/ADF,INFO/ADR'
        ext.args2 = '-A -m'
        ext.prefix = { "${meta.id}.ivar_trim.sorted" }
        publishDir = [
            path: { "${params.output}/bcftools/mpileup" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf,txt}"
        ]        
    }

    withName: IVAR_VARIANTS {
        ext.args = '-t 0.01 -q 20 -m 10'
        ext.args2 = '--ignore-overlaps --count-orphans --no-BAQ --max-depth 0 --min-BQ 0'
        publishDir = [
            path: { "${params.output}/ivar/variants" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: IVAR_CONSENSUS {
        ext.args = '-t 0.6 -q 20 -m 10 -n N'
        ext.args2 = '--count-orphans --no-BAQ --max-depth 0 --min-BQ 0 -aa'
        ext.prefix = { "${meta.id}.consensus" }
        publishDir = [
            [
                path: { "${params.output}/ivar/consensus" },
                mode: params.publish_dir_mode,
                pattern: "*.{fa,txt}",
            ],
            [
                path: { "${params.output}/ivar/mpileup" },
                mode: params.publish_dir_mode,
                pattern: "*.mpileup",
                enabled: params.save_mpileup
            ]    
        ]
    }

    withName: EDIT_IVAR_VARIANTS {
        publishDir = [
            path: { "${params.output}/ivar/variants" },
            mode: params.publish_dir_mode,
            pattern: "*.reformatted.tsv"
        ]
    }

	withName: SUMMARY {
		publishDir =[
			path: { "${params.output}/summary" },
			mode: params.publish_dir_mode,
			pattern: "*.summary.tsv"
		]
	}
}

if (!params.skip_fastqc) {
    process {
        withName: '.*:FASTQ_TRIM_FASTP_FASTQC:FASTQC_RAW' {
            ext.args = '--quiet'
            publishDir = [
                path: { "${params.output}/fastqc/raw" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
}

if (!params.skip_fastp) {
    process {
        withName: '.*:FASTQ_TRIM_FASTP_FASTQC:FASTP' {
            ext.args = "--cut_front --cut_tail --trim_poly_x --cut_mean_quality 20 --qualified_quality_phred 20 --unqualified_percent_limit 20 --length_required ${params.trim_len}"
            publishDir = [
                [
                    path: { "${params.output}/fastp" },
                    mode: params.publish_dir_mode,
                    pattern: "*.{json,html}"
                ],
                [
                    path: { "${params.output}/fastp/log" },
                    mode: params.publish_dir_mode,
                    pattern: "*.log"
                ],
                [
                    path: { "${params.output}/fastp" },
                    mode: params.publish_dir_mode,
                    pattern: "*.fail.fastq.gz",
                    enabled: params.save_trimmed_fail
                ]
            ]
        }
    }

    if (!params.skip_fastqc) {
		process {
			withName: '.*:FASTQ_TRIM_FASTP_FASTQC:FASTQC_TRIM' {
				ext.args = '--quiet'
				publishDir = [
					path: { "${params.output}/fastqc/trim" },
					mode: params.publish_dir_mode,
					saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
				]
			}
		}
    }
}
